@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

html {
    background-color: #0099FF;
}


/* width */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: #FFFFFF;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #0099FF;
    border-radius: 10px;
    transition: 0.4s;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #0099ffb6;
}

nav {
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    z-index: 2005;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.logo a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.9em;
}

.links {
    padding-top: 5px;
}

.links a.active {
    background-color: #0099FF;
    padding: 10px;
    border-radius: 44px;
    color: #FFFFFF;
    transition: 0.4s;
}

.links a.active:hover {
    background-color: #FFFFFF;
    color: #0099FF;
}

.links a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em;
    margin-right: 15px;
    padding: 10px;
    border-radius: 44px;
    color: #0099FF;
    border: 1.5px solid #7070702b;
    transition: 0.4s;
}

.links a:hover {
    color: #FFFFFF;
    background-color: #0099FF;
}

@media (max-width: 500px) {
    nav {
        position: static;
        display: block;
    }
    nav .logo {
        transform: translate(25%, 0%);
    }
    .links {
        display: block;
        transform: translate(25%, 0%);
        width: 100%;
    }
    .links a {
        display: block;
        width: 50%;
        margin-bottom: 15px;
        font-size: 1em;
    }
}

.home {
    background-color: #FFFFFF;
    position: relative;
}

.home .imgs {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.home img {
    position: absolute;
    bottom: 0;
}

.home .img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 650px;
}

.home .title {
    position: absolute;
    margin-top: 300px;
    margin-left: 100px;
    z-index: 5;
}

.home .p1 {
    font-weight: 900;
    font-size: 3em;
    color: #0099FF;
    width: 599.49px;
    border-right: 3px solid rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    animation: text1 3s steps(22) 2s both, border 0.5s infinite;
}

@keyframes text1 {
    from {
        width: 0px;
    }
    to {
        width: 599.49px;
    }
}

@keyframes border {
    from {
        border-right-color: rgba(0, 0, 0, 0.29);
    }
    to {
        border-right-color: transparent;
    }
}

.home .title .btn1 {
    padding: 15px;
    border-radius: 20px;
    border: 0;
    background-color: #0099FF;
    transition: 0.4s;
    margin-top: 20px;
    margin-left: 50px;
}

.home .btn1:hover {
    background-color: #101010;
}

.home .btn1 a {
    text-decoration: none;
    font-size: 1.2em;
    color: #FFFFFF;
}


/*finsh-home*/

.about {
    background-color: #0099FF;
    padding: 400px 100px;
    position: relative;
}

.about .img3 {
    position: absolute;
    width: 100%;
}

.about .img4 {
    position: absolute;
    z-index: 500;
    width: 45%;
    right: 0;
}

.about .text2 {
    z-index: 500;
    position: absolute;
    text-align: center;
    left: 25%;
}

.about .text2 h1 {
    font-size: 3em;
    color: #0099FF;
    width: 243;
    margin-top: 10px;
    margin-left: 50px;
    border-right: 3px solid rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    animation: text2 1s steps(8) 2s both, border 0.5s infinite;
}

@keyframes text2 {
    from {
        width: 0px;
    }
    to {
        width: 243px;
    }
}

.about .text2 img {
    width: 200px;
    margin-left: 50px;
    margin-top: 10px;
}

.about .pa {
    font-size: 1.9em;
    color: #0099FF;
    z-index: 200;
    position: absolute;
    top: 80vh;
    margin-left: 100px;
}

.joinus .text3 {
    z-index: 500;
    background-color: #FFFFFF;
    padding: 100px;
    position: absolute;
    top: 0%;
    margin-left: auto;
}

.container h1 {
    font-size: 3em;
    color: #0099FF;
    width: 220px;
    margin-bottom: 10px;
    border-right: 3px solid rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    animation: text3 1s steps(8) 2s both, border 0.5s infinite;
}

@keyframes text3 {
    from {
        width: 0px;
    }
    to {
        width: 220px;
    }
}

.container .h2 {
    font-size: 3em;
    color: #0099FF;
    width: 180px;
    margin-bottom: 10px;
    border-right: 3px solid rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    animation: text4 1s steps(7) 2s both, border 0.5s infinite;
}

@keyframes text4 {
    from {
        width: 0px;
    }
    to {
        width: 180px;
    }
}


/*contact*/


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: rgb(16, 90, 202);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: rgb(16, 90, 202);
}


/* Add a background color and some padding around the form */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
}


/* Add padding to containers */

.container {
    padding: 16px;
    background-color: white;
    font-family: 'Bebas Neue', cursive;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit button */

.registerbtn {
    background-color: rgb(16, 90, 202);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
}

.registerbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.register {
    padding: 25%;
    background: url(pic/patreen.png);
    background-size: cover;
}

.sign-in {
    padding: 25%;
    background: url(pic/patreen.png);
    background-size: cover;
}

.contact0 {
    padding: 25%;
    margin-top: auto;
    background: url(pic/patreen.png);
    background-size: cover;
}